  <br>
  <div class="container" style="padding-left: 28px;">
  	<button class="btn btn-default" ng-click="back()">
    	<span class="glyphicon glyphicon-chevron-left"></span> Back
  	</button>
  </div>
  <div class="container">
	<br>
	<div class="panel-group col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
	        	<h4 class="panel-title">
	          		<a data-toggle="collapse">albums</a>
	        	</h4>
	      	</div>
	      	<div class="errormessagebox" ng-show="albums===undefined">
	      		<span>No data found.</span>
	      	</div>
	  		<div class="panel-group" style="padding-left:5px; padding-right: 5px; margin-top: 12px;">
	    		<div class="panel panel-default" ng-repeat="x in albums">
	      			<div class="panel-heading">
	        			<h4 class="panel-title">
	          				<a data-toggle="collapse" href="detail#{{$index}}">{{x.name}}</a>
	        			</h4>
	      			</div>
	      			<div id="{{$index}}" class="panel-collapse collapse">
	        			<ul class="list-group">
	          				<li class="list-group-item" ng-repeat="y in x.photos.data"><img src="https://graph.facebook.com/v2.8/{{y.id}}/picture?access_token={{accesstoken}}" class="img-rounded" alt="Cinque Terre" width="304" height="236"></li>
	        			</ul>
	      			</div>
	    		</div>
	  		</div>
	 	</div>
	</div>

	<div class="panel-group col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
	        	<h4 class="panel-title">
	          		<a data-toggle="collapse">posts</a>
	        	</h4>
	      	</div>
	      	<div class="errormessagebox" ng-show="posts===undefined">
	      		<span>No data found.</span>
	      	</div>
	  		<div class="panel-group" style="padding-left:5px; padding-right: 5px; margin-top: 12px;">
	    		<div class="panel panel-default" ng-repeat="x in posts">
	        		<ul class="list-group">
	        			<section class="postcontainer">
	        				<div class="pic">
	        					<img src="{{pic.url}}" alt="Cinque Terre" width="50" height="50">
	        				</div>
	        				<div class="desc">
	        					{{name}}<br>
	        					<div style="color:grey;">{{x.created_time}}</div>
	        				</div>
	        			</section>
	          			<li class="list-group-item noborder">{{x.message}}</li>
	        		</ul>
	    		</div>
	  		</div>
	 	</div>
	</div>

</div>