<!DOCTYPE html>
<html>
<head>
  <title>Hank The Master</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="main.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
  <script src="main.js"></script>
  <script src="route.js"></script>
</head>
<body ng-app="myApp">
<div ng-controller="myCtrl">
  <nav class="navbar navbar-default" style="margin-bottom: 0;">
    <div class="navbar-header col-md-3">
      <a class="navbar-brand">FB Search</a>
    </div>
    <form class="navbar-form col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="input" style="width:400px;" placeholder="type something...">
          <div class="input-group-btn">
            <button type="button btn-primary" class="btn btn-info blue-button" ng-click="search('user')">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
      </div>
      <button name="clear" type="submit" class="btn btn-default clearbtn">Clear</button>
    </form>
  </nav>
    <ul class="nav nav-pills nav-justified" style="text-align: center; width: 100%">
      <li class="active"><a data-toggle="tab" ng-href="#users" ng-click="search('user')">Users</a></li>
      <li><a data-toggle="tab" ng-href="#pages" ng-click="search('page')">Pages</a></li>
      <li><a data-toggle="tab" ng-href="#events" ng-click="search('event')">Events</a></li>
      <li><a data-toggle="tab" ng-href="#places" ng-click="search('place')">Places</a></li>
      <li><a data-toggle="tab" ng-href="#groups" ng-click="search('group')">Groups</a></li>
      <li><a data-toggle="tab" ng-href="#">Favorites</a></li>
    </ul> 
  <div ng-view></div>
</div>
</body>
</html>
