.navbar-default .navbar-brand
{
  color:#3B5998;
}
.navbar-default:hover .navbar-brand:hover
{
  color:#3B5998;
}
.navbar-center
{
  text-align: center;
}
.blue-button
{
  background-color: #3B5998;
  border-color: #3B5998;
  border-radius: 0;
  text-align: left;
  width:60px;
}
.blue-button:hover
{
  background-color: #3B5998;
  border-color: #3B5998;
}
.blue-button:active
{
  background: #3B5998;
  border-color: #3B5998;
}
.blue-button:focus
{
  background: #3B5998;
  border-color: #3B5998;
}
.clearbtn
{
  background-color: white;
  border-color: #3B5998;
  border-radius: 0;
  text-align: left;
  width:60px;
  color:#3B5998;
  height:34px;
}
.clearbtn:hover
{
  background-color: white;
  border-color: #3B5998;
}
.secondnav
{
  border-style:none;
  background-color: white;
  border-bottom: 2px solid #3B5998;
}
.pagebutton
{
  background-color: white;
  border-color: grey;
  border-radius: 1px;
  text-align: center;
  width:60px;
  height:34px;
}

.nav-pills > li.active >a,.nav-pills > li.active >a:focus {
    color: white;
    background-color: #3B5998;
}

.progress
{
    width: 80%;
    margin:0 auto;
    margin-top:150px;
}

.detailbutton
{
  background-color: white;
  text-align: center;
  border-color: #D3D3D3;
  width:35px;
  height:27px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding-bottom: 5px;
}
.noborder
{
  border-style: none;
}
.postcontainer {
    margin:10px;
    width: 80%;
    height: 40px;
}
.pic {
    width: 30px;
    height: 30px;
    float: left;
}
.desc {
    margin-left: 40px;
    padding-left:20px;
    height: 40px;
}
.errormessagebox
{
  background-color: #FCF8E3;
  color:#A79470;
  height:40px;
  width:95%;
  margin:0 auto;
  margin-top:20px;
}
.errormessagebox span {
  position: relative;
  top:23%;
  margin-left:12px;
}