<table class="table">
	<thead>
		<tr>
    		<th>#</th>
    		<th>Profile photo</th> 
    		<th>Name</th>
    		<th>Favorite</th>
    		<th>Details</th>
  		</tr>
  	</thead>
  	<tbody>
		<tr ng-repeat="x in jsondata">
    		<td>{{pagenum*25 + $index + 1}}</td>
      		<td><img src="{{x.picture.data.url}}" class="img-rounded" alt="Cinque Terre" width="30" height="30"></td>
      		<td>{{ x.name }}</td>
      		<td>favorite</td>
      		<td><button class="detailbutton" ng-click="todetail(x.id)"><i class="glyphicon glyphicon-chevron-right"></i></button></td>
    	</tr>
    </tbody>
</table>
<div class="col-sm-6" style="text-align: right;">
  <button ng-show="pagingprev!==undefined" type="submit" class="btn btn-default pagebutton" ng-click="prevpage()">Prev</button>
</div>
<div class="col-sm-6">
	<button ng-show="paging!==undefined" type="submit" class="btn btn-default pagebutton" ng-click="nextpage()">Next</button>
</div>
<br><br><br>